fastapi
uvicorn
jinja2
requests
python-slugify
beautifulsoup4
lxml
Unidecode
psycopg2-binary
google-generativeai
openai
python-dotenv
# auth / admin
itsdangerous
passlib
python-multipart
cryptography==42.0.8
tweepy==4.14.0
boto3
